In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [ ]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.9:
  Successfully uninstalled kaggle-1.5.9
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.8MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle
  Downloading kaggle-1.5.9.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.8 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73265 sha256=02ac1a9c1450fa26eebc14105e215c62798b823e9be6666ec38a1e0ff39e04c4
  Stored in directory: /root/.cache/pip/wheels/9d/50/3d/2644504bb1e8c782f3fef5984f03d76fc4a74698fdec128b29
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.9

In [ ]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c sejong-ai-challenge-p1

Downloading sejong-ai-challenge-p1.zip to /content
 97% 23.0M/23.8M [00:00<00:00, 86.1MB/s]
100% 23.8M/23.8M [00:00<00:00, 120MB/s]

In [ ]:
!unzip sejong-ai-challenge-p1.zip

Archive:  sejong-ai-challenge-p1.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('train.csv',header = None, skiprows=1)
test = pd.read_csv('test.csv', header=None, skiprows=1)
submit = pd.read_csv('sample_submission.csv')

train[:5]

   0    1    2    3    4    5    6    ...  779  780  781  782  783  784      785
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0  missing
1    1    0    0    0    0    0    0  ...    0    0    0    0    0    0        9
2    2    0    0    0    0    0    0  ...   43    0    0    0    0    0        6
3    3    0    0    0    1    2    0  ...    0    1    0    0    0    0      NAN
4    4    0    0    0    0    0    0  ...    0    0    0    0    0    0        3

[5 rows x 786 columns]

In [ ]:
train.drop(0,axis=1,inplace=True)
train[:5]

   1    2    3    4    5    6    7    ...  779  780  781  782  783  784      785
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0  missing
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0        9
2    0    0    0    0    0    0    0  ...   43    0    0    0    0    0        6
3    0    0    0    1    2    0    0  ...    0    1    0    0    0    0      NAN
4    0    0    0    0    0    0    0  ...    0    0    0    0    0    0        3

[5 rows x 785 columns]

In [ ]:
test[:5]

   0    1    2    3    4    5    6    ...  778  779  780  781  782  783  784
0   11    0    0    0    0    0    0  ...    9    8    1    0    0    0    0
1   15    0    0    0    0    0    0  ...    1    1    1    0    0    0    0
2   17    0    0    0    0    0    0  ...    0    1    0    0    0    0    0
3   21    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4   22    0    0    0    0    0    0  ...    2    0    0    0    0    0    0

[5 rows x 785 columns]

In [ ]:
x_train = train.loc[:,1:784]
y_train = train.loc[:,785]

x_test = test.loc[:,1:784]

In [ ]:
from collections import Counter
print(Counter(y_train))

Counter({'6': 4800, '4': 4800, '5': 4800, '7': 4800, '1': 4800, '0': 4713, '9': 80, '3': 80, '8': 80})

In [ ]:
for i in range(len(train)):
  if y_train[i] == 'missing' or y_train[i] =='NAN':
    train.drop(i,axis = 0,inplace= True)
  
train.describe()

                1             2    ...           783           784
count  28953.000000  28953.000000  ...  28953.000000  28953.000000
mean       0.001105      0.004421  ...      0.494906      0.027286
std        0.096564      0.143168  ...      7.213347      1.206453
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.000000      0.000000  ...      0.000000      0.000000
50%        0.000000      0.000000  ...      0.000000      0.000000
75%        0.000000      0.000000  ...      0.000000      0.000000
max       14.000000     11.000000  ...    255.000000    142.000000

[8 rows x 784 columns]

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()

In [ ]:
x_train_syn, y_train_syn = sm.fit_resample(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print(Counter(y_train_syn))

Counter({'9': 4800, '6': 4800, '3': 4800, '4': 4800, '5': 4800, '8': 4800, '7': 4800, '1': 4800, '0': 4800})

In [ ]:
y_train_syn = y_train_syn.astype(int)

In [ ]:
print(y_train_syn.dtype)

int64

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(n_estimators = 10, learning_rate=0.1, max_depth= 5) # 0.72

xgb.fit(x_train_syn,y_train_syn)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
x_train_syn[:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
x_test = np.array(x_test)
x_test

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ..., 27,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0]])

In [ ]:
x_test = test.loc[:,1:784]
x_test[:5]

   1    2    3    4    5    6    7    ...  778  779  780  781  782  783  784
0    0    0    0    0    0    0    0  ...    9    8    1    0    0    0    0
1    0    0    0    0    0    0    0  ...    1    1    1    0    0    0    0
2    0    0    0    0    0    0    0  ...    0    1    0    0    0    0    0
3    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4    0    0    0    0    0    0    0  ...    2    0    0    0    0    0    0

[5 rows x 784 columns]

In [ ]:
test_pred = xgb.predict(x_test)

for i in range(len(test_pred)):
  submit['label'][i] = test_pred[i]

submit[:5]

   id  label
0  11      8
1  15      6
2  17      3
3  21      7
4  22      4

In [ ]:
submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c sejong-ai-challenge-p1 -f submission.csv -m "xgb"

100% 64.5k/64.5k [00:00<00:00, 298kB/s]
Successfully submitted to Sejong AI Challenge 문제1

---
#KNN
---

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors = 5, weights = 'distance',p = 2) #0.73 엄청느림

KNN.fit(x_train_syn,y_train_syn)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='distance')

In [ ]:
test_pred = KNN.predict(x_test)

for i in range(len(test_pred)):
  submit['label'][i] = test_pred[i]

submit[:5]

   id  label
0  11      6
1  15      0
2  17      3
3  21      7
4  22      4

In [ ]:
submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c sejong-ai-challenge-p1 -f submission.csv -m "Knn"

100% 64.5k/64.5k [00:00<00:00, 360kB/s]
Successfully submitted to Sejong AI Challenge 문제1

---
#DTC
---

In [ ]:
from sklearn.preprocessing import Normalizer, MinMaxScaler
mm = MinMaxScaler()
nor = Normalizer()

x_train_mm = mm.fit_transform(x_train_syn)
x_test_mm = mm.fit_transform(x_test)

x_train_nor = nor.fit_transform(x_train_syn)
x_test_nor = nor.fit_transform(x_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier

xtree = ExtraTreesClassifier(class_weight = 'balanced',bootstrap= True) #0.77
#dtc = DecisionTreeClassifier(max_depth=7) #0.66

xtree.fit(x_train_mm,y_train_syn)
#dtc.fit(x_train_syn,y_train_syn)

ExtraTreesClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [ ]:
test_pred = xtree.predict(x_test_mm)

for i in range(len(test_pred)):
  submit['label'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c sejong-ai-challenge-p1 -f submission.csv -m "xtree"

submit[:5]

100% 64.5k/64.5k [00:00<00:00, 372kB/s]
Successfully submitted to Sejong AI Challenge 문제1

   id  label
0  11      6
1  15      6
2  17      4
3  21      7
4  22      4

In [ ]:
test_pred = dtc.predict(x_test)

for i in range(len(test_pred)):
  submit['label'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c sejong-ai-challenge-p1 -f submission.csv -m "dtc"

submit[:5]

100% 64.5k/64.5k [00:00<00:00, 279kB/s]
Successfully submitted to Sejong AI Challenge 문제1

   id  label
0  11      6
1  15      6
2  17      0
3  21      7
4  22      4