In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [2]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.9:
  Successfully uninstalled kaggle-1.5.9
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.8MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle
  Downloading kaggle-1.5.9.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.7 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73265 sha256=e77035e189d2cdc6660d22f3e85d08c56e63b4f0272e7a85b0ee9d454c0205a3
  Stored in directory: /root/.cache/pip/wheels/9d/50/3d/2644504bb1e8c782f3fef5984f03d76fc4a74698fdec128b29
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.9

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle competitions download -c sejong-ai-challenge-p3

Downloading sejong-ai-challenge-p3.zip to /content
  0% 0.00/14.9k [00:00<?, ?B/s]
100% 14.9k/14.9k [00:00<00:00, 12.2MB/s]

In [5]:
!unzip sejong-ai-challenge-p3.zip

Archive:  sejong-ai-challenge-p3.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
import pandas as pd
import numpy as np

In [7]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('sample_submission.csv')

train[:5]

   id         y    bw     b.head  ...  drugs  work.dur  site  prenatal
0   1  5.778438  1559  28.648521  ...      1         1   0.0         1
1   3  4.085857  1000  25.000000  ...      1         1   0.0         1
2   4  5.615404  1430  29.000000  ...      1         0   0.0         1
3   5  2.116421  1984  31.000000  ...      1         0   0.0         1
4   6  5.464959  1320  28.000000  ...      1         1   0.0         1

[5 rows x 20 columns]

In [8]:
from sklearn.impute import SimpleImputer

In [15]:
train.isnull().sum()

id            0
y             0
bw            0
b.head        0
preterm       0
birth.o       0
nnhealth      0
momage        0
dadage      525
sex           0
twin          0
b.marr        0
mom.edu      97
cig           0
first         0
booze         0
drugs         0
work.dur      0
site         82
prenatal      0
dtype: int64

In [16]:
train.drop('dadage',axis=1,inplace=True)
train.isnull().sum()

id           0
y            0
bw           0
b.head       0
preterm      0
birth.o      0
nnhealth     0
momage       0
sex          0
twin         0
b.marr       0
mom.edu     97
cig          0
first        0
booze        0
drugs        0
work.dur     0
site        82
prenatal     0
dtype: int64

In [18]:
train.describe()

               id           y           bw  ...    work.dur        site    prenatal
count  647.000000  647.000000   647.000000  ...  647.000000  565.000000  647.000000
mean   499.823802    4.027235  1809.587326  ...    0.595054    2.959292    0.967543
std    294.801376    2.686067   455.890743  ...    0.491261    2.125522    0.177349
min      1.000000  -12.069068   640.000000  ...    0.000000    0.000000    0.000000
25%    246.000000    2.896862  1505.000000  ...    0.000000    1.000000    1.000000
50%    493.000000    4.060090  1870.000000  ...    1.000000    3.000000    1.000000
75%    775.500000    5.331757  2180.000000  ...    1.000000    5.000000    1.000000
max    984.000000   22.481629  2500.000000  ...    1.000000    6.000000    1.000000

[8 rows x 19 columns]

In [23]:
x_train = train.loc[:,'bw':'prenatal']
y_train = train.loc[:,'y']

x_test= test.loc[:,'bw':'prenatal']

In [24]:
im = SimpleImputer(missing_values=np.nan, strategy='mean')
x_train = im.fit_transform(x_train)
x_train[:5]

array([[1.55900000e+03, 2.86485213e+01, 1.00000000e+01, 2.00000000e+00,
        9.40000000e+01, 3.30000000e+01, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 8.32727273e-01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.00000000e+03, 2.50000000e+01, 8.00000000e+00, 4.00000000e+00,
        8.90000000e+01, 3.30000000e+01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.43000000e+03, 2.90000000e+01, 6.00000000e+00, 1.00000000e+00,
        1.12000000e+02, 2.20000000e+01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.98400000e+03, 3.10000000e+01, 2.00000000e+00, 1.00000000e+00,
        9.90000000e+01, 2.00000000e+01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.00000000e+00, 1.00000000e+00, 2.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.32000000e+03, 2.80000000e+01, 7.00000000e+00, 2.00000000e+00,
        1.10000000e+02, 2.30000000e+01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00]])

In [26]:
x_test.drop('dadage',axis=1,inplace=True)
x_test = im.fit_transform(x_test)

In [48]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, Normalizer,RobustScaler
mm = MinMaxScaler()
std = StandardScaler()
ma = MaxAbsScaler()
nor = Normalizer()
rob = RobustScaler()

In [31]:
x_train_mm = mm.fit_transform(x_train)
x_test_mm = mm.fit_transform(x_test)

In [36]:
x_train_std = std.fit_transform(x_train)
x_test_std = std.fit_transform(x_test)

In [45]:
x_train_ma = ma.fit_transform(x_train)
x_test_ma = ma.fit_transform(x_test)

In [49]:
x_train_nor = nor.fit_transform(x_train)
x_test_nor = nor.fit_transform(x_test)

In [50]:
x_train_rob = rob.fit_transform(x_train)
x_test_rob = rob.fit_transform(x_test)

In [52]:
from sklearn.ensemble import ExtraTreesRegressor
xtree = ExtraTreesRegressor(max_depth = 4,bootstrap=True,n_estimators = 120)

xtree.fit(x_train_rob,y_train)

test_pred = xtree.predict(x_test_rob)

for i in range(len(test_pred)):
  submit['y'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c sejong-ai-challenge-p3 -f submission.csv -m "xtree"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

100% 2.17k/2.17k [00:00<00:00, 11.4kB/s]
Successfully submitted to Sejong AI Challenge 문제3

#####mm + xtree mx depth 5= 0.65
#####std + xtree mx depth 5= 0.57 
#####std + xtree mx depth 4 = 0.56
#####std + xtree mx depth 4 + n_estimators 120 = 0.544
#####ma + xtree mx depth 4 + n_estimators 120 = 0.549
#####nor + xtree mx depth 4 + n_estimators 120 = 0.574
#####rob + xtree mx depth 4 + n_estimators 120 = 0.523