<a href="https://colab.research.google.com/github/minnnnji/Machine_Learning/blob/master/KNN_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
dat_wine = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/"
                     'wine/wine.data',header=None)
dat_wine[:5]

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [3]:
dat_wine.columns = ['class label', 'alchohol', 'malic acid', 'ash', 
                    'alcalinity of ash', 'magnesium', 'total phenols', 
                    'flavanoids', 'nonflavanoid phenols', 
                    'proanthocyanins', 'color intensity', 'hue', 
                    'OD208', 'proline']
print('class Label : ', np.unique(dat_wine['class label']))

class Label :  [1 2 3]

In [6]:
X = dat_wine.loc[:,'alchohol':'proline']
y = dat_wine.loc[:,'class label']

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 1, stratify = y) 
#stratify 로 해야 여러 층으로 분할후 각 층별로 렌덤 데이터 추출, 원래 데이터의 분포와 유사하게 데이터 추출 (분류 추천)

In [10]:
X.describe()

         alchohol  malic acid         ash  ...         hue       OD208      proline
count  178.000000  178.000000  178.000000  ...  178.000000  178.000000   178.000000
mean    13.000618    2.336348    2.366517  ...    0.957449    2.611685   746.893258
std      0.811827    1.117146    0.274344  ...    0.228572    0.709990   314.907474
min     11.030000    0.740000    1.360000  ...    0.480000    1.270000   278.000000
25%     12.362500    1.602500    2.210000  ...    0.782500    1.937500   500.500000
50%     13.050000    1.865000    2.360000  ...    0.965000    2.780000   673.500000
75%     13.677500    3.082500    2.557500  ...    1.120000    3.170000   985.000000
max     14.830000    5.800000    3.230000  ...    1.710000    4.000000  1680.000000

[8 rows x 13 columns]

In [8]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
X_train_std = std.fit_transform(X_train)
X_test_std = std.transform(X_test)
X_train_std[:5]

array([[ 1.75724998, -0.42418296,  0.46754669, -0.84147742,  1.04778074,
         2.48867577,  1.43630611, -1.01278319,  1.04231865,  1.17633597,
        -0.41889975,  1.17628257,  2.31738098],
       [-0.22691937,  0.87476675, -1.43090484, -1.07543078, -1.45077333,
        -1.04213218, -0.76868137,  0.46835722, -1.38410524, -0.70436762,
        -1.11989258, -0.68867149, -1.15530354],
       [ 0.26912297,  2.4194637 , -0.18960961,  0.67921944, -0.46649445,
        -0.86718223, -1.37899041,  1.87154286, -0.0900125 ,  1.21907924,
        -1.5580131 , -1.586093  , -0.04893383],
       [-0.28892466, -0.5997167 , -0.33564435,  0.82544029, -1.14791829,
        -1.43974568, -0.26665297,  0.85813101,  0.05377558, -0.74711088,
        -0.33127564, -0.26800516, -0.79173729],
       [ 0.25672191, -0.06433878,  1.0881943 , -0.31508235,  0.13921562,
         0.81869904,  1.19021376, -0.54505464,  2.17464979,  0.27017879,
         0.32590514,  0.78366066,  1.3927944 ]])

In [37]:
from sklearn.neighbors import KNeighborsClassifier

regressor_3 = KNeighborsClassifier(n_neighbors = 3,weights = 'distance',p = 2)
regressor_3.fit(X_train_std,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='distance')

In [38]:
regressor_3.predict(X_test_std)
print('ACC: ',regressor_3.score(X_train_std,y_train))
print('ACC: ',regressor_3.score(X_test_std,y_test))

ACC:  1.0
ACC:  0.9444444444444444

In [39]:
regressor_5 = KNeighborsClassifier(n_neighbors = 5,weights = 'distance',p = 2)
regressor_5.fit(X_train_std,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='distance')

In [40]:
regressor_5.predict(X_test_std)
print('ACC: ',regressor_5.score(X_train_std,y_train))
print('ACC: ',regressor_5.score(X_test_std,y_test))

ACC:  1.0
ACC:  0.9259259259259259