In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [1]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.8:
  Successfully uninstalled kaggle-1.5.8
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 4.1MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle
  Downloading kaggle-1.5.9.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 2.4 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73265 sha256=7e6be9905b4626deee09804d9120ae98e727128a3f6e85840a3c153a9d714043
  Stored in directory: /root/.cache/pip/wheels/9d/50/3d/2644504bb1e8c782f3fef5984f03d76fc4a74698fdec128b29
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.9

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle competitions download -c 2020-ml-p2

Downloading 2020-ml-p2.zip to /content
  0% 0.00/24.4k [00:00<?, ?B/s]
100% 24.4k/24.4k [00:00<00:00, 19.4MB/s]

In [5]:
!unzip 2020-ml-p2.zip

Archive:  2020-ml-p2.zip
  inflating: test.csv
  inflating: test_sampleSubmissin.csv
  inflating: train.csv

In [6]:
import pandas as pd
import numpy as np

In [7]:
train = pd.read_csv('train.csv',skiprows=1,header=None)
test = pd.read_csv('test.csv',skiprows=1,header=None)
submit = pd.read_csv('test_sampleSubmissin.csv')

train[:5]

   0   1     2    3    4     5       6      7     8     9      10
0   3  20  16.3  1.0  1.5  89.0   576.0  0.027  76.0  33.0   49.0
1   6  13  20.1  0.0  1.4  48.0   916.0  0.042  73.0  40.0  159.0
2   7   6  13.9  0.0  0.7  79.0  1382.0  0.033  32.0  19.0   26.0
3   8  23   8.1  0.0  2.7  54.0   946.0  0.040  75.0  64.0   57.0
4   9  18  29.5  0.0  4.8   7.0  2000.0  0.057  27.0  11.0  431.0

In [14]:
train.describe()

                0            1   ...           9            10
count  1000.000000  1000.000000  ...  1000.000000  1000.000000
mean    831.416000    11.886000  ...    30.244000   110.693000
std     478.707068     6.707757  ...    14.553428    83.867506
min       3.000000     0.000000  ...     9.000000     1.000000
25%     424.500000     6.000000  ...    20.000000    37.000000
50%     832.500000    12.000000  ...    26.000000   100.000000
75%    1247.500000    18.000000  ...    37.000000   153.000000
max    1653.000000    23.000000  ...    90.000000   431.000000

[8 rows x 11 columns]

In [9]:
test[:5]

      0   1     2    3    4     5       6      7      8     9
0  1655   4  14.6  0.0  0.6  49.0  2000.0  0.014   41.0  27.0
1  1657  20  21.8  0.0  4.4  40.0  2000.0  0.048   35.0  19.0
2  1660  22  18.3  0.0  1.0  37.0   970.0  0.032  169.0  38.0
3  1662   7  13.2  0.0  0.6  85.0   431.0  0.023   50.0  39.0
4  1663   8   8.9  0.0  0.9  77.0   613.0  0.005   82.0  40.0

In [8]:
x_train = train.loc[:,1:9]
y_train = train.loc[:,10]

x_test = test.loc[:,1:9]

In [15]:
from sklearn.preprocessing import StandardScaler, Normalizer ,MinMaxScaler
std = StandardScaler()
nor = Normalizer()
mm = MinMaxScaler()

x_train_std = std.fit_transform(x_train)
x_test_std = std.fit_transform(x_test)
x_train_nor = nor.fit_transform(x_train)
x_test_nor = nor.fit_transform(x_test)
x_train_mm = mm.fit_transform(x_train)
x_test_mm = mm.fit_transform(x_test)

In [12]:
submit[:5]

   id  count
0   0      0
1   1      0
2   2      0
3   3      0
4   4      0

In [19]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=15,p=2,weights='distance')
KNN.fit(x_train_std,y_train)

test_pred = KNN.predict(x_test_std)

for i in range(len(test_pred)):
  submit['count'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p2 -f submission.csv -m "KNN"

100% 2.28k/2.28k [00:00<00:00, 8.98kB/s]
Successfully submitted to 2020.ML.중간고사.문제2

In [17]:
# linearRegression + std / 49.93
from sklearn.linear_model import LinearRegression
logit = LinearRegression()

logit.fit(x_train_std,y_train)
test_pred = logit.predict(x_test_std)

for i in range(len(test_pred)):
  submit['count'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p2 -f submission.csv -m "logit"

100% 2.31k/2.31k [00:02<00:00, 1.17kB/s]
Successfully submitted to 2020.ML.중간고사.문제2

In [11]:
from sklearn.tree import DecisionTreeRegressor

dtc = DecisionTreeRegressor(random_state=1)

dtc.fit(x_train,y_train)
test_pred = dtc.predict(x_test)

for i in range(len(test_pred)):
  submit['count'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p2 -f submission.csv -m "dtc"

100% 2.29k/2.29k [00:02<00:00, 1.17kB/s]
Successfully submitted to 2020.ML.중간고사.문제2