In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [2]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.8:
  Successfully uninstalled kaggle-1.5.8
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 1.8MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle
  Downloading kaggle-1.5.9.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.2 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73265 sha256=f26ffb0c2bd06f0eb3a0b17ce375365c4c6afb34b6dec1d695225ebd047d4e2f
  Stored in directory: /root/.cache/pip/wheels/9d/50/3d/2644504bb1e8c782f3fef5984f03d76fc4a74698fdec128b29
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.9

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle competitions download -c 2020-ml-p4

Downloading 2020-ml-p4.zip to /content
  0% 0.00/2.29M [00:00<?, ?B/s]
100% 2.29M/2.29M [00:00<00:00, 119MB/s]

In [5]:
!unzip 2020-ml-p4.zip

Archive:  2020-ml-p4.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
import pandas as pd
import numpy as np

In [25]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('sample_submission.csv')
train[:5]

   index  QaA   QaE  QbA   QbE  QcA  ...  wr_09  wr_10  wr_11  wr_12  wr_13  voted
0      2  4.0  1623  1.0  1480  1.0  ...      1      1      0      1      1      1
1      3  3.0   504  3.0  2311  4.0  ...      0      1      0      1      1      1
2      5  2.0   834  1.0  1769  4.0  ...      0      0      0      0      0      2
3      8  5.0   795  2.0  3469  4.0  ...      0      0      0      1      1      1
4      9  2.0  1668  1.0   866  1.0  ...      0      1      1      1      1      1

[5 rows x 78 columns]

In [ ]:
train.info()

---
##### 나이 바꾸기

In [9]:
train['age_group'].unique()

array(['30s', '20s', '40s', '50s', '10s', '60s', '+70s'], dtype=object)

In [26]:
age = {'30s':3, '20s':2, '40s':4, '50s':5, '10s':1, '60s':6, '+70s':7}
train['age_group'] = train['age_group'].map(age)
test['age_group'] = test['age_group'].map(age)

train[:5]

   index  QaA   QaE  QbA   QbE  QcA  ...  wr_09  wr_10  wr_11  wr_12  wr_13  voted
0      2  4.0  1623  1.0  1480  1.0  ...      1      1      0      1      1      1
1      3  3.0   504  3.0  2311  4.0  ...      0      1      0      1      1      1
2      5  2.0   834  1.0  1769  4.0  ...      0      0      0      0      0      2
3      8  5.0   795  2.0  3469  4.0  ...      0      0      0      1      1      1
4      9  2.0  1668  1.0   866  1.0  ...      0      1      1      1      1      1

[5 rows x 78 columns]

---
##### 성별바꾸기

In [11]:
train['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [27]:
sex = {'Male':0, 'Female':1}
train['gender'] = train['gender'].map(sex)
test['gender'] = test['gender'].map(sex)
train[:5]

   index  QaA   QaE  QbA   QbE  QcA  ...  wr_09  wr_10  wr_11  wr_12  wr_13  voted
0      2  4.0  1623  1.0  1480  1.0  ...      1      1      0      1      1      1
1      3  3.0   504  3.0  2311  4.0  ...      0      1      0      1      1      1
2      5  2.0   834  1.0  1769  4.0  ...      0      0      0      0      0      2
3      8  5.0   795  2.0  3469  4.0  ...      0      0      0      1      1      1
4      9  2.0  1668  1.0   866  1.0  ...      0      1      1      1      1      1

[5 rows x 78 columns]

---
##### 인종 & 종교 바꾸기

In [14]:
print(train['race'].unique())
print(train['religion'].unique())

['White' 'Asian' 'Other' 'Black' 'Native American' 'Arab'
 'Indigenous Australian']
['Other' 'Hindu' 'Christian_Other' 'Atheist' 'Agnostic'
 'Christian_Catholic' 'Christian_Protestant' 'Buddhist' 'Jewish' 'Muslim'
 'Christian_Mormon' 'Sikh']

In [28]:
race = {'White':1, 'Asian':2, 'Other':7, 'Black':3, 'Native American':4, 'Arab':5,'Indigenous Australian':6}
religion = {'Other':12, 'Hindu':1, 'Christian_Other':2, 'Atheist':3, 'Agnostic':4,'Christian_Catholic':5,'Christian_Protestant':6, 'Buddhist':7,
            'Jewish':8, 'Muslim':9,'Christian_Mormon':10, 'Sikh':11}
train['race'] = train['race'].map(race)
train['religion'] = train['religion'].map(religion)

test['race'] = test['race'].map(race)
test['religion'] = test['religion'].map(religion)

---

In [29]:
x_train = train.loc[:,'QaA':'wr_13']
y_train = train.loc[:,'voted']

x_test = test.loc[:,'QaA':'wr_13']

In [30]:
x_train[:5]

   QaA   QaE  QbA   QbE  QcA   QcE  ...  wr_08  wr_09  wr_10  wr_11  wr_12  wr_13
0  4.0  1623  1.0  1480  1.0  1021  ...      1      1      1      0      1      1
1  3.0   504  3.0  2311  4.0   992  ...      1      0      1      0      1      1
2  2.0   834  1.0  1769  4.0  2105  ...      1      0      0      0      0      0
3  5.0   795  2.0  3469  4.0  1693  ...      1      0      0      0      1      1
4  2.0  1668  1.0   866  1.0   895  ...      1      0      1      1      1      1

[5 rows x 76 columns]

In [31]:
from sklearn.preprocessing import StandardScaler, Normalizer
std = StandardScaler()
nor = Normalizer()

x_train_std = std.fit_transform(x_train)
x_test_std = std.fit_transform(x_test)
x_train_nor = nor.fit_transform(x_train)
x_test_nor = nor.fit_transform(x_test)

In [32]:
from collections import Counter
print(Counter(y_train))

Counter({2: 12277, 1: 10033})

In [33]:
submit[:5]

   index  voted
0      6      1
1     10      1
2     12      1
3     14      1
4     25      1

In [36]:
'''
#KNN 
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=200,p=2,weights='distance')
KNN.fit(x_train_nor,y_train)

test_pred = KNN.predict(x_test_nor)

for i in range(len(test_pred)):
  submit['voted'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p4 -f submission.csv -m "KNN"
'''

100% 72.5k/72.5k [00:09<00:00, 7.95kB/s]
Successfully submitted to 2020.ML.중간고사.문제4

In [41]:
# 원본 + gini + max_depth = 5 / 0.68
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1,criterion='gini',max_depth=5)

dtc.fit(x_train,y_train)
test_pred = dtc.predict(x_test)

for i in range(len(test_pred)):
  submit['voted'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p4 -f submission.csv -m "dtc"

100% 72.5k/72.5k [00:06<00:00, 12.1kB/s]
Successfully submitted to 2020.ML.중간고사.문제4