<a href="https://colab.research.google.com/github/minnnnji/Machine_Learning/blob/master/KNN_school_no_Std_k%3D5_1_90787.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [2]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.8:
  Successfully uninstalled kaggle-1.5.8
Collecting pip
  Downloading https://files.pythonhosted.org/packages/4e/5f/528232275f6509b1fff703c9280e58951a81abe24640905de621c9f81839/pip-20.2.3-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 4.6MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.3
Collecting kaggle
  Downloading kaggle-1.5.8.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 2.3 MB/s
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.8-py3-none-any.whl size=73274 sha256=f3838c6a93720a42e928019c82f11bb228856cfb8806bebc3efb133a494992f4
  Stored in directory: /root/.cache/pip/wheels/cf/aa/f0/ed1179bbcd729b29d0dfda59826fb3b55f0a4a0c3f713c1c82
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.8

In [6]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [7]:
!kaggle competitions download -c 2020-ai-term-project-18011759

Downloading 2020-ai-term-project-18011759.zip to /content
  0% 0.00/90.8k [00:00<?, ?B/s]
100% 90.8k/90.8k [00:00<00:00, 38.5MB/s]

In [8]:
!unzip 2020-ai-term-project-18011759.zip

Archive:  2020-ai-term-project-18011759.zip
  inflating: submit_sample.CSV
  inflating: test.CSV
  inflating: train.CSV

In [9]:
import numpy as np
import pandas as pd

In [37]:
test = pd.read_csv('test.CSV',encoding='euc-kr',header=None,skiprows=1)
train = pd.read_csv('train.CSV',encoding='euc-kr',header=None,skiprows=1)
submit = pd.read_csv('submit_sample.CSV')

In [38]:
train[:5]

       0       1    2  3   4  5  6  7
0  11076  군북초등학교  398  1   3  1  7  6
1  11093  호암초등학교  303  1  23  1  5  3
2  11098  중앙초등학교  434  1   2  1  6  8
3  11115  대정초등학교  277  1   2  1  8  6
4  11117  두호남부초교  348  1   2  1  2  8

In [39]:
test[:5]

       0       1    2  3   4  5  6  7
0  10014  교동초등학교   86  1  12  1  8  2
1  10033  장안초등학교  143  1   6  0  0  1
2  10040    화홍초교  144  1   5  1  8  3
3  10043  세지초등학교   51  1   4  0  0  0
4  10049  수덕초등학교   71  1   2  1  8  3

In [34]:
train[0] = train[0]%10000/100
test[0] = test[0]%10000/100

train[:5]

       0       1    2  3   4  5  6  7
0  10.76  군북초등학교  398  1   3  1  7  6
1  10.93  호암초등학교  303  1  23  1  5  3
2  10.98  중앙초등학교  434  1   2  1  6  8
3  11.15  대정초등학교  277  1   2  1  8  6
4  11.17  두호남부초교  348  1   2  1  2  8

In [35]:
x_train = train.loc[:,2:6]
y_train = train.loc[:,7]

In [71]:
from sklearn.neighbors import KNeighborsRegressor
KNN = KNeighborsRegressor(n_neighbors = 5,weights = 'distance')

KNN.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='distance')

In [47]:
x_test = test.loc[:,2:6]

In [66]:
train_pred = KNN.predict(x_train)
test_pred = KNN.predict(x_test)

In [54]:
submit[:5]

   index  total
0      0      0
1      1      0
2      2      0
3      3      0
4      4      0

In [76]:
for i in range(len(test_pred)):
  submit['total'][i]=test_pred[i]

In [77]:
submit[:5]

   index  total
0      0      3
1      1      1
2      2      6
3      3      0
4      4      6

In [78]:
submit.to_csv('submit.csv',index=False,header=True)

In [79]:
!kaggle competitions submit -c 2020-ai-term-project-18011759 -f submit.csv -m "Message"

100% 502/502 [00:01<00:00, 294B/s]
Successfully submitted to 초등학생 등교 인원수에 따른 스쿨존 사고 발생 빈도 예측