### 1-1. 데이터 로더

In [ ]:
import pandas as pd

bank_df = pd.read_csv('UniversalBank.csv')
bank_df.head()

   ID  Age  Experience  ...  CDAccount  Online  CreditCard
0   1   25           1  ...          0       0           0
1   2   45          19  ...          0       0           0
2   3   39          15  ...          0       0           0
3   4   35           9  ...          0       0           0
4   5   35           8  ...          0       0           1

[5 rows x 14 columns]

### 1-2. 학습에 사용할 특성변수 선택

In [ ]:
X = bank_df.drop (['ID','ZIPCode','PersonalLoan'], axis=1)
y = bank_df['PersonalLoan']

### 2. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

### 3-1. 학습에 사용할 모델 개별 정의

In [ ]:
from sklearn.tree import DecisionTreeClassifier # 결정 트리

tree = DecisionTreeClassifier(max_depth=None,
                              criterion='entropy',
                              random_state=1)

### 3-2. 학습에 사용할 모델 앙상블 정의

In [ ]:
from sklearn.ensemble import BaggingClassifier # 배깅(Bagging) 

bagging = BaggingClassifier(base_estimator=tree, # 수정
                            n_estimators=500,  
                            max_samples=1.0, 
                            max_features=1.0, 
                            bootstrap=True, 
                            bootstrap_features=False, 
                            n_jobs=1, 
                            random_state=1)

### 4. K-fold 교차 검증을 통한 모델 평가
- 이전에는 Accuracy_score/Confusion_matrix 를 사용함
- cross_val_score의 scoring에 들어가는 스트링종류
  : https://scikit-learn.org/stable/modules/model_evaluation.html 참고

In [ ]:
from sklearn.model_selection import cross_val_score # 교차타당도 # 추가

clf_labels = ['Decision tree', 'Bagging']
all_clf = [tree, bagging]

for clf, label in zip(all_clf, clf_labels):
    scores = cross_val_score(estimator=clf,X=X_train,y=y_train,cv=10,scoring='roc_auc')
    print("ROC AUC: %0.3f (+/- %0.3f) [%s]", (scores.mean(), scores.std(), label))

ROC AUC: %0.3f (+/- %0.3f) [%s] (0.9499227861055811, 0.032735680131811405, 'Decision tree')
ROC AUC: %0.3f (+/- %0.3f) [%s] (0.9976668161065998, 0.001775473982951, 'Bagging')