In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"minzzzzi","key":"74a980fb52033cf0ead89c84120a4a9c"}'}

In [4]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle

Uninstalling kaggle-1.5.8:
  Successfully uninstalled kaggle-1.5.8
Collecting pip
  Downloading https://files.pythonhosted.org/packages/cb/28/91f26bd088ce8e22169032100d4260614fc3da435025ff389ef1d396a433/pip-20.2.4-py2.py3-none-any.whl (1.5MB)
     |████████████████████████████████| 1.5MB 8.6MB/s
Installing collected packages: pip
  Found existing installation: pip 19.3.1
    Uninstalling pip-19.3.1:
      Successfully uninstalled pip-19.3.1
Successfully installed pip-20.2.4
Collecting kaggle
  Downloading kaggle-1.5.9.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 3.1 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73265 sha256=e483b06d1ed39374d996dd82e1e7e31ccdb7f3bc33fc84d02153a4240a12bdba
  Stored in directory: /root/.cache/pip/wheels/9d/50/3d/2644504bb1e8c782f3fef5984f03d76fc4a74698fdec128b29
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.9

In [5]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [6]:
!kaggle competitions download -c 2020-ml-p1

Downloading 2020-ml-p1.zip to /content
  0% 0.00/53.2k [00:00<?, ?B/s]
100% 53.2k/53.2k [00:00<00:00, 42.6MB/s]

In [7]:
!unzip 2020-ml-p1.zip

Archive:  2020-ml-p1.zip
  inflating: test.csv
  inflating: test_sampleSubmission.csv
  inflating: train.csv

In [8]:
import pandas as pd
import numpy as np

In [10]:
from collections import Counter
from imblearn.over_sampling import SMOTE
sm = SMOTE()

In [11]:
from sklearn.preprocessing import Normalizer, StandardScaler
nor = Normalizer()
std = StandardScaler()

In [12]:
train = pd.read_csv('train.csv',header=None,skiprows=1)
test = pd.read_csv('test.csv',header=None, skiprows=1)
submit = pd.read_csv('test_sampleSubmission.csv')

train[:5]

   0       1      2       3      4   ...      27       28      29       30  31
0   0   8.734  16.84   55.27  234.3  ...  0.0000  0.00000  0.2445  0.08865 NaN
1   0  11.360  17.57   72.49  399.8  ...  0.1811  0.08698  0.2973  0.07745 NaN
2   1  14.950  17.57   96.85  678.1  ...  0.3355  0.16670  0.3414  0.07147 NaN
3   1  17.350  23.06  111.00  933.1  ...  0.1211  0.08235  0.2452  0.06515 NaN
4   0  11.060  17.12   71.25  366.5  ...  0.1256  0.09514  0.2780  0.11680 NaN

[5 rows x 32 columns]

In [11]:
test[:5]

       0      1      2      3        4   ...       26       27      28       29  30
0  11.670  20.02  75.21  416.2  0.10160  ...  0.27580  0.08120  0.3206  0.08950 NaN
1  10.800   9.71  68.77  357.6  0.09594  ...  0.10470  0.04603  0.2090  0.07699 NaN
2  12.450  16.41  82.85  476.7  0.09514  ...  0.48960  0.13420  0.3231  0.10340 NaN
3   9.465  21.01  60.11  269.4  0.10440  ...  0.09412  0.06517  0.2878  0.09211 NaN
4  13.650  13.16  87.88  568.9  0.09646  ...  0.17590  0.08056  0.2380  0.08718 NaN

[5 rows x 31 columns]

In [13]:
x_train = train.loc[:,1:30]
y_train = train.loc[:,0]

x_test = test.loc[:,0:29]

x_train_std = std.fit_transform(x_train)
x_test_std = std.fit_transform(x_test)
x_train_nor = nor.fit_transform(x_train)
x_test_nor = nor.fit_transform(x_test)

In [17]:
print(Counter(y_train))

Counter({0: 252, 1: 146})

In [1]:
'''
#KNN 0.91

from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=20,p=2)
KNN.fit(x_train,y_train)

test_pred = KNN.predict(x_test)

for i in range(len(test_pred)):
  submit['diagnosis'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p1 -f submission.csv -m "KNN"
'''

'\n#KNN 0.91\n\nfrom sklearn.neighbors import KNeighborsClassifier\nKNN = KNeighborsClassifier(n_neighbors=20,p=2)\nKNN.fit(x_train,y_train)\n\ntest_pred = KNN.predict(x_test)\n\nfor i in range(len(test_pred)):\n  submit[\'diagnosis\'][i] = test_pred[i]\n\nsubmit.to_csv(\'submission.csv\',header=True,index = None)\n!kaggle competitions submit -c 2020-ml-p1 -f submission.csv -m "KNN"\n'

In [14]:
# DTC 0.95
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1,criterion='gini',max_depth=5)

dtc.fit(x_train,y_train)
test_pred = dtc.predict(x_test)

for i in range(len(test_pred)):
  submit['diagnosis'][i] = test_pred[i]

submit.to_csv('submission.csv',header=True,index = None)
!kaggle competitions submit -c 2020-ml-p1 -f submission.csv -m "dtc"

100% 929/929 [00:04<00:00, 232B/s]
Successfully submitted to 2020.ML.중간고사.문제1